{% extends "layout.html" %}
{% block content %}
<form action="/guided/loans"><button>Back</button></form>

<form method="POST">
    
    <!--Form inputs for Terms Remaining and Term Cost-->
    <div class="form-group">

        <label for="year_grad">Terms Remaining</label>
        <input type="number" class="form-control" id="year_grad" name="year_grad" placeholder="Enter the number of remaining terms">

        <label for="term_Cost">Term Cost</label>
        <input type="number" class="form-control" id="term_Cost" name="term_cost" placeholder="Enter the Cost of your Current Term">
        
    </div>

    <button type="submit">Next</button>

</form>
{% endblock content %}