{% extends "layout.html" %}
{% block content %}
<form action="/guided/terms"><button>Back</button></form>

<form method="POST">
    
    <!--Form inputs for Total Estimated Monthly Payment and Ideal Repayment Period in Years-->
    <div class="form-group">
        
        <label for="month_pay">Total Estimated Monthly Payment</label>
        <input type="number" class="form-control" id="month_pay" name="month_pay" placeholder="Enter Your Estimated Monthly Payment" min="1" max="10000" required>

        <label for="duration">Ideal Repayment Period in Years</label>
        <input type="number" class="form-control" id="duration" name="duration" placeholder="Enter your ideal repayment period in Years" min="1" max="50" required>

    </div>

    <button type="submit">Submit</button>

</form>


<tbody>
    Lastly, here is where you enter a monthly pay (PER LOAN) that you believe
    that you can afford.<br> In addition, this is compared with how long your ideal
    repayment period in years to show if you're expectations regarding your monthly
    debt burden and the time to repay align. <br> <br>
    Below is an example with values and limitations: <br>
    Total Estimated Monthly Payment
    <br>
    500 (Cannot be below 1 dollar per month)
    <br>
    Ideal Repayment Period in Years
    <br>
    10 (Cannot be below 1 or exceed 50 years)
</tbody>

{% endblock content %}