<!--
Websites Referenced:
[4] https://www.w3schools.com/html/html_forms.asp
-->

{% extends "layout.html" %}
{% block content %}
<br>    
<h1>Guided Calculator</h1>

    <!--Description Text-->
    <div class="desc">
        <tbody>
            Welcome to the Guided Calculator.
            This Calculator determines your estimated debt out of college.
            In addition, it also predicts the duration to pay off existing loans based on a preferred monthly payment per loan
            as well as an estimated monthly cost to pay back your loan in a defined period of time.
            You may press Start to begin or Home to return to the home page.
        </tbody>
    </div>
    <br>

    <!--Navigation Button-->
    <form action="/guided/loans"><button class="movement">Start</button></form>
    
{% endblock content %}
