{% extends "layout.html" %}
{% block content %}
<h1>Login Page</h1>

<!--Form for submitting Login details-->
<form method="POST">

    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>

    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>

    <button type="submit">Login</button>

</form>

<form action="/login/logout"><button>Logout</button></form>

<!--Navigation to create a new account-->
<form action="/login/reg_menu"><button>Register</button></form>

{% if message %}
    {{message}}
{% endif %}

{% endblock content %}