{% extends "layout.html" %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
      line-height: 1.6;
    }
    .container {
      display: flex;
      justify-content: center;
      position: relative;
    } 
     .th, .tr, .td {
        border: 1px solid black;
    }
    .table {
        width: 50%;
    }
    .right {
        transform: translateX(20%);
    }

</style>

<h3>Milestones Page</h3>

<div class="container">
    <table class="table">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
        {% for i in range(num_pay_logs) %}
        <tr>
            <td>{{ amount[i] }}</td>
            <td>{{ pay_date[i] }}</td>
            <td>{{ pay_note[i] }}</td>
        </tr>
        {% endfor %}
    </table> 

    <table class="table right">
        <tr>
            <th>Principal</th>
            <th>Interest Rate</th>
            <th>Date of Disbursement</th>
            <th>Outstanding Interest/Fees</th>
            <th>Total Balance</th>
            <th>Notes</th>
        </tr>
        {% for i in range(num_loan_logs) %}
        <tr>
            <td>{{ loan_principal[i] }}</td>
            <td>{{ loan_int_rate[i] }}</td>
            <td>{{ loan_date[i] }}</td>
            <td>{{ loan_fees[i] }}</td>
            <td>{{ loan_principal[i] + loan_fees[i] }}</td>
            <td>{{ loan_note[i] }}</td>
        </tr>
        {% endfor %}
    </table> 
</div>

<canvas id="lineChart" width="900" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Extracting labels and data from server-side variables
    const labels = {{ labels | tojson }};
    const data = {{ data | tojson }};

    var datasets = data.map((balances, index) => {
            return {
                label: "Loan " + (index + 1),
                data: balances,
                fill: false,
            };
        });

    var ctx = document.getElementById('lineChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            }});


</script>

{% endblock content %}