{% extends "layout.html" %}
{% block content %}

<div class="grid">
    <table class="table">
        <!--Table Headers-->
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
        <!--Visualizes logged payment data under the corresponding header-->
        {% for i in range(num_pay_logs) %}
        <tr>
            <td>{{ amount[i] }}</td>
            <td>{{ pay_date[i] }}</td>
            <td>{{ pay_note[i] }}</td>
        </tr>
        {% endfor %}
    </table> 

    <table class="table right">
        <!--Table Headers-->
        <tr>
            <th>Principal</th>
            <th>Interest Rate</th>
            <th>Date of Disbursement</th>
            <th>Outstanding Interest/Fees</th>
            <th>Total Balance</th>
            <th>Notes</th>
        </tr>
        <!--Visualizes logged loan data under the corresponding header-->
        {% for i in range(num_loan_logs) %}
        <tr>
            <td>{{ loan_principal[i] }}</td>
            <td>{{ loan_int_rate[i] }}</td>
            <td>{{ loan_date[i] }}</td>
            <td>{{ loan_fees[i] }}</td>
            <td>{{ loan_bal[i] }}</td>
            <td>{{ loan_note[i] }}</td>
        </tr>
        {% endfor %}
    </table> 
</div>

<!--Container for loan graph-->
<canvas id="lineChart" width="900" height="400"></canvas>

<!--Log Download Button-->
<a href="data:text/csv;charset=utf-8,{{ csv | urlencode }}" download="log.csv">Download CSV of Logs</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //Converts flask data to usable format
    const dates = {{ dates | tojson }};
    const balances = {{ balances | tojson}}

    //Converts data to a usable format for the chart function
    var datasets = balances.map((balance, i) => {
            return {
                label: "Loan " + (i + 1),
                data: balance,
            };
        });

    //Creates a chart using the data provided
    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: datasets
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        maxTicksLimit: 10
                    }
                },
            }
        }
    });


</script>

{% endblock content %}