{% extends "layout.html" %}
{% block content %}
<h1>Registration Page</h1>

<form method="POST">

    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>

    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>

    <button type="submit">Register</button>

</form>

<!--Back button to go back to login page-->
<form action="/login"><button>Back to Login</button></form>

{% endblock content %}

<script type=""></script>