{% extends "layout.html" %}
{% block content %}

    <h1>Repayment Calculator</h1>

    <form action="/calculator/unguided" method="POST">
        
        <!--div container for dynamic variables declared within the javascript addLoan() function-->
        <!--These dynamic varibles include the loan principal and loan interest form variables-->
        <div id="dynamic loans">   
        </div>

        <button type="button" class="btn btn-secondary" onclick="addLoan()">Add Loan</button>

        <div class="form-group">
            <label for="Monthly">Total Estimated Monthly Payment</label>
            <input type="number" class="form-control" id="Monthly" name="Monthly" placeholder="Enter Your Estimated Monthly Payment">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    <form>

    <script>
        function addLoan() {
            //Container for dynamic inputs
            var dynamicLoans = document.getElementById("dynamic loans")

            //Html div to insert dynamic inputs and to add to base html
            var newDiv = document.createElement('div')
            newDiv.classList.add('form-group')

            //principal form input with identical parameters as original html
            var newPrincipal = document.createElement('input')
            newPrincipal.type = 'number';
            newPrincipal.classList.add('form-control');
            newPrincipal.name = 'principal[]'; 
            newPrincipal.placeholder = 'Enter Your Loan Principal';

            //interest form input with identical parameters as original html
            var newInterest = document.createElement('input');
            newInterest.type = 'number';
            newInterest.classList.add('form-control');
            newInterest.name = 'interest[]'; 
            newInterest.placeholder = 'Enter Your Interest Rate';

            //Duplicates the format of the original by creating a label
            //Underneath the labels the forms are added with the parameters above
            newDiv.appendChild(document.createTextNode('Loan Principal'))
            newDiv.appendChild(newPrincipal);
            newDiv.appendChild(document.createTextNode('Loan Interest'));
            newDiv.appendChild(newInterest);

            // Add the new loan input fields to the container
            dynamicLoans.appendChild(newDiv);
        }

        //Creates an initial form input for the user in case they have only 1 loan
        addLoan();
    </script>
    
{% endblock content %}