{% extends "layout.html" %}
{% block content %}
    <h1>Repayment Logging Page</h1>

    <form method="POST">

        <div class="form-group">
            
            <!--Selection of Which loan the given payment will go towards-->
            <label for="loan_choice">Loan To Repay</label>
                <select class="form-control" id="loan_choice" name="loan_choice" required></select>

            <!--Amount that will be add to or deducted from the current loan balance-->
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="How Much is the Amount?" min="0" required>

            <!--The Date the Payment or Loan was made-->
            <label for="date">Date of Repayment or Scholarship Disbursement</label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Enter the Date the Loan or Payment was Made" required>

            <!--Any notes the user wants to enter to the log for organization purposes-->
            <label for="note">Note</label>
            <input type="text" class="form-control" id="note" name="note" placeholder="Notes....">

        </div>

        <button type="submit">Submit Log</button>

    </form>

    <!--String verifying a sucessful log by monitoring number of entries-->
    {{conf}}

    <script>
        //Dynamically limits dates for new payments or loans to only be
        //made either today or on a previous date
        date.max = new Date().toISOString().split("T")[0];

        //Dynamically creates the list of loans the user can choose to repay
        var loans = {{ loans | tojson }};
        var loanChoice = document.getElementById('loan_choice');

        //Adds each existing loan to the repayment selection
        for (let i = 0; i < loans.length; i++) {
            var loan = document.createElement('option');
            loan.value = i;
            loan.textContent = 'Loan ' + i + ' of initial principal: ' + loans[i];
            loanChoice.appendChild(loan);
        }

    </script>
{% endblock content %}