{% extends "layout.html" %}
{% block content %}
<h1>Scholarships Page</h1>

<!--User not logged into an account-->
{% if not profile %}
    Welcome Guest
    <br>
    {% for i in range(length) %}
        <br>
        Scholarship {{i+1}}: {{scholarships[i]['name']}} 
        <br>
        Sponsor:{{scholarships[i]['sponsor']}} 
        <br>
        Minimum GPA:{{scholarships[i]['gpa']}} 
        <br>
        Required Enrollment Status:{{scholarships[i]['status']}} 
        <br>
        Required Credit Hours:{{scholarships[i]['hours']}}
        <br>
        Description/Other Requirements: {{scholarships[i]['desc']}}
        <br>
        Award Range:${{scholarships[i]['min']}}-${{scholarships[i]['max']}}
        <br>
    {% endfor %}

<!--User logged into an sponsor account-->
{% elif admin %}
    Welcome Sponsor {{ profile.username }}

    <form method="POST">
        <label for="name">Scholarship Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="What is the name of your Scholarship?" minlength="1" required>
    
        <label for="gpa">Minimum Qualifying GPA</label>
        <input type="number" class="form-control" id="gpa" name="gpa" placeholder="What is the Minimum Qualifying GPA?" min="0" max="4" required>
    
        <label for="status">Required Enrollment Status</label>
        <select class="form-control" id="status" name="status" required>
            <option value="NP">No Preference</option>
            <option value="PT-Undergrad">Part Time Undergraduate, less than 12 credits</option>
            <option value="PT-Graduate">Part Time Graduate, less than 9 credits</option>
            <option value="FT-Undergrad">Full Time Undergraduate, 12 credits or more</option>
            <option value="FT-Graduate">Full Time Graduate, 9 credits or more</option>
        </select>

        <label for="hours">Minimum Credit Hours</label>
        <input type="number" class="form-control" id="hours" name="hours" placeholder="Enter the Minimum Qualifying Credit Hours" min="0" max="180" required>

        <label for="date">Deadline to Apply</label>
        <input type="date" class="form-control" id="date" name="date" placeholder="Enter the deadline to apply" required>

        <label for="desc">Description/Other Requirements</label>
        <input type="text" class="form-control" id="desc" name="desc" placeholder="Enter the description and/or other requirements if applicable" minlength="1">

        <label for="award">Scholarship Reward</label>
        <input type="text" class="form-control" id="award" name="award" placeholder="Enter the scholarship's reward USD" minlength="1" maxlength="15" required>
    
        <button type="submit">Post</button>
    </form>

    <script>
        date.min = new Date().toISOString().split("T")[0];
    </script>

    {% if message %}
        {{message}}
    {% endif %}

{% else %}
    Welcome User {{ profile.username }} {{profile["GPA"]}}
    <br>
    {% for i in range(length) %}
        <br>
        Scholarship {{i+1}}: {{scholarships[i]['name']}} 
        <br>
        Sponsor:{{scholarships[i]['sponsor']}} 
        <br>
        Minimum GPA:{{scholarships[i]['gpa']}} 
        <br>
        Required Enrollment Status:{{scholarships[i]['status']}} 
        <br>
        Required Credit Hours:{{scholarships[i]['hours']}}
        <br>
        Description/Other Requirements: {{scholarships[i]['desc']}}
        <br>
        Award:${{scholarships[i]['award']}}
        <br>
    {% endfor %}
{% endif %}

{% endblock content %}


