{% extends "layout.html" %}
{% block content %}
    <h1>Calculator Page</h1> 

    <form method="POST">
        
        <!--div container for dynamic variables declared within the javascript addLoan() function-->
        <div id="dynamic loans" div class="form-group"></div>

        <!--Calls the addLoan() javascript function to add additional loan inputs when user presses the button-->
        <button type="button" onclick="addLoan()">Add Loan</button>

        <!--Inputs for singular inputs required by application-->
        <div class="form-group">
        
            <label for="year_grad">Years Until Graduation</label>
            <input type="number" class="form-control" id="year_grad" name="year_grad" placeholder="Enter the Number of Years Until Graduation">
        
            <label for="term_cost">Yearly Cost</label>
            <input type="number" class="form-control" id="term_cost" name="term_cost" placeholder="Enter the Estimated Cost of College Per Year">

            <label for="month_pay">Total Estimated Monthly Payment</label>
            <input type="number" class="form-control" id="month_pay" name="month_pay" placeholder="Enter Your Estimated Monthly Payment">

            <label for="duration">Total Loan Duration</label>
            <input type="number" class="form-control" id="duration" name="duration" placeholder="Enter the Payment Length in Years">

        </div>

        <!--Submits all inputs previously established-->
        <button type="submit">Submit</button>
        
    </form>  

    <script>
        function addLoan() {
            //Container for dynamic inputs declared above
            var dynamicLoans = document.getElementById("dynamic loans")

            //Html div to insert dynamic inputs and to add to base html
            //Approximate HTML Equivalent
            //<div class='form-group'></div>
            var newDiv = document.createElement('div')
            newDiv.classList.add('form-group')

            //principal form input with html based parameters
            //Approximate HTML Equivalent
            //<input type="number" class="form-control" id="principal[]" name="principal[]" placeholder="Enter Your Loan Principal">
            var newPrincipal = document.createElement('input');
            newPrincipal.type = 'number';
            newPrincipal.classList.add('form-control');
            newPrincipal.id = 'principal[]';
            newPrincipal.name = 'principal[]'; 
            newPrincipal.placeholder = 'Enter Your Loan Principal';

            //interest form input with html based parameters
            //Approximate HTML Equivalent
            //<input type="number" class="form-control" id="interest[]" "name="interest[]" placeholder="Enter Your Interest Rate">
            var newInterest = document.createElement('input');
            newInterest.type = 'number';
            newInterest.classList.add('form-control');
            newInterest.id = 'interest[]';
            newInterest.name = 'interest[]'; 
            newInterest.placeholder = 'Enter Your Interest Rate';
            
            //loan type form input with html based parameters
            //Approximate HTML Equivalent
            //<select class="form-control" id="loantype[]" name="loantype[]"></select>
            var newLoanType = document.createElement('select');
            newLoanType.classList.add('form-control');
            newLoanType.id = 'loan_type[]';
            newLoanType.name = 'loan_type[]';
            
            //loan type dropdown menu options 
            //Approximate HTML Equivalent
            //<option value='subsidized'>subsidized</option>
            var sub = document.createElement('option');
            sub.value = 'subsidized';
            sub.textContent = 'subsidized';
            
            //Approximate HTML Equivalent
            //<option value='unsubsidized'>unsubsidized</option>
            var unsub = document.createElement('option');
            unsub.value = 'unsubsidized';
            unsub.textContent = 'unsubsidized';
            
            //Adds the two options above the the dropdown menu form 'newLoanType'
            newLoanType.appendChild(unsub);
            newLoanType.appendChild(sub);
            
            //Adds the forms to the div with labels in the order as shown 
            newDiv.appendChild(document.createTextNode('Loan Principal'))
            newDiv.appendChild(newPrincipal);
            newDiv.appendChild(document.createTextNode('Loan Interest'));
            newDiv.appendChild(newInterest);
            newDiv.appendChild(document.createTextNode('Loan Type'));
            newDiv.appendChild(newLoanType);

            //Adds the new loan input fields to the container so that it's visible to the user
            dynamicLoans.appendChild(newDiv);

            //Approximate HTML Equivalent of forms being inserted
            //<div id="dynamic loans" div class="form-group">
            //
            //  Start of Inserted Content
            //  <div class='form-group'>
            //      <label for="principal[]">Loan Principal</label>
            //      <input type="number" class="form-control" id="principal[]" name="principal[]" placeholder="Enter Your Loan Principal">
            //
            //      <label for="interest[]">Loan Interest</label>
            //      <input type="number" class="form-control" id="interest[]" "name="interest[]" placeholder="Enter Your Interest Rate">
            //
            //      <label for="loantype[]">Loan Type</label>
            //      <select class="form-control" id="loantype[]" name="loantype[]">
            //          <option value='subsidized'>subsidized</option>
            //          <option value='unsubsidized'>unsubsidized</option>
            //      </select>
            //  </div>
            //  End of Inserted Content
            //
            //</div>
        }

        //Creates an initial form input for the user in case they have only 1 loan
        addLoan();
    </script>

{% endblock content %}


